###############
#    folder   #
###############
/TODO

###############
#  fixed file #
###############
.gitignore
*.exe
*.txt
*.def
*.dsp
*.lib
*.doc
*.dll
*.lnt
*.pm
*.xls
*.dbg
*.DBG
*.o
*.plg
*.keep
*.class

###############
#  temp file  #
###############
~*
*.log
*.cmm
*.men
*.ini
*.fig
*.cmp
*.tmp
*~
.*    # hidden file

###############
#    script   #
###############
*.bat

###############
#    contain   #
###############
!/TODO/FIXEDLIST
